//-
//- Post
//-

mixin post(obj,showcategory)
    -var layout = layout || 'default';
    article.post
        if obj.thumb
            figure.post-thumb(style="background-image:url('#{obj.thumb}');")
                img(src=obj.thumb alt='Screenshot of' + obj.title)
        .post-details
            header.post-header
                h2.post-title= obj.title
                p= obj.summary
        a.post-fullpostlink(href=config.root + obj.path)
            .post-fullpostlink-tuck
                span.post-fullpostlink-label(style={'background-color': '#' + obj.keycolor || false})
                    | Read
                    | &nbsp;
                    span= obj.title
