mixin post(obj,showcategory)
    -var layout = layout || 'default';
    article.post
        if obj.thumb
            figure.post-thumb(style="background-image:url('#{obj.thumb}');")
                img(src=obj.thumb alt='Screenshot of' + obj.title)
        .post-details
            header.post-header
                ul.post-meta
                    if obj.categories.length > 0 && showcategory != false
                        each category in obj.categories.toArray()
                            li.post-meta-item= category.name
                    li.post-meta-item= obj.date.format(config.date_format)
                h1.post-title: a(href=config.root + obj.path)= obj.title
