//-
//- Post
//-

mixin post(obj)
    article.post(data-category=obj.metadata.category)
        a(href=obj.url)
            .post-inner
                .post-text
                    header.post-header
                        ul.post-meta
                            li.post-meta-category: span= obj.metadata.category
                            li.post-meta-date= moment.utc(obj.date).format('D.M.YYYY')
                        h1.post-title= obj.title
                    blockquote.post-summary
                        p= obj.metadata.summary
                -if (obj.metadata.image_thumb)
                    figure.post-img
                        img(src="#{obj.metadata.image_thumb}")

